:root{
	--max-container: 140rem;
	--gutter: 2rem;
	--ff-prim: 'SP Pro';
	--clr-accent: #0297D4;
	--clr-accent-light: #6AD3FF;
	--clr-accent-extra-light: #F3F6F9;
	--clr-hover: #35ACDD;
	--clr-active: #077AA9;
	--clr-disabled: #B3C8D1;
	--clr-dark: #131515;
	--clr-gray: #586C75;
	--clr-yellow-light: #FFF5CC;
	--clr-red: #B80101;
	--tr: .3s ease-in-out;
}